body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background: white;
}
.container{
    background-image: url(../images/image001.png);
    margin: 0;
    /* width: 100%; */
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    
      
}
.navbar-logo{
    color: white;
    font-size: 20px;
    margin-left: 5%;
}
.navbar-logo span{
    color: orange;
}

.navbar-content a{
    color: white;
    font-weight: bold;
       
}
.navbar-content {
    justify-content: space-between;
    display: flex;
    width: 35%;
    margin-left: 16%;
}
.navbar-form{
    margin-right: 10%;
    justify-content: space-between;
    display: flex;
  
}    
.navbar-form button{
    height: 40px;
    border-style: none;
    border-radius: 3px;
    color: white;
    width: 120px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
.navbar-word{
    color: white;
    margin-left: 13.5%;
    margin-top: 9%;
}
.navbar-word h1{
    font-size: 55px;
}
.navbar-icon{
    margin-left: 13.5%;
    margin-top: 2%;
    color: white; 
   
}
.navbar-icon button{
    background-image: linear-gradient(to right , orange , gold);
    border-radius: 3px;
    margin-top: 3px;
    border: none;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 45px; 
}
.trust{
    text-align: center;
    margin-top: 3%;
    font-weight: normal;
}
.trust span{
    color: orange;
}
.trust-icons{
    justify-content: space-between;
    width: 80%;
    align-items: center;
    display: flex;
    margin-left: 5%;
}
.trust-heading{
    margin-top: 5%;
}
.trust-word{
    margin-left: 7%;
    display: flex;

}
.trust-word h2{
    font-weight: bolder;
    font-size: 30px;
}
.trust-word p{
    font-size: 13px;
    
}
.trust-word button{
    height: 40px;
    background-image: linear-gradient(to right, blue ,royalblue);
    font-weight: bold;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: small;
    width: 160px;
    margin-top: 3%;
}
.trust-word-images{
    margin-left: 22%;
    margin-top: 4%; 
    float: right;
}
.picture{
    margin-left: 3%;
    display: flex;
}
.picture-word{
    margin-top: 5%;
}
.picture-word button{
    height: 40px;
    width: 160px;
    background-image: linear-gradient(to right, blue , royalblue);
    font-weight: bold;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: small;
    margin-top: 4%;
}
.picture-word p{
    font-size: 13px;
    color: silver;
}
.box{
    background-image: url(../images/unnamed.jpg);
    display: flex;
    
}
.box-word{
    margin-left: 10%;
    margin-top: 5%;
    color: white;
}
.box-word p{
    font-size: 13px;
}
.box-word button{
    height: 40px;
    width: 120px;
    font-weight: bold;
    color: white;
    border-style: none;
    border-radius: 3%;
    font-size: small;
    margin-top: 5%;
}
.box-picture{
    margin-left: 20%;
    margin-top: 5%;
}
.text-word{
    text-align: center;
}
.text-word span{
    color: orange;
}
.text{
    justify-content: space-between;
    width: 80%;
    display: flex;
    margin-left: 10%;
    align-items: center;
    margin-top: 5%;

}

.text-icons p{
    font-weight: bold;
    align-items: center;
}
.text-images{
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
}
.text-words{
    margin-left: 12%;
    margin-top: 7%;
}
.text-words p{
    font-size: 14px;
    color: silver;
}
.text-words button{
    height: 40px;
    width: 140px;
    font-weight: bold;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: small;
    background-image: linear-gradient(to right, blue , royalblue);
    margin-top: 4%;
}
.courses{
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin-top: 7%;
}
.courses p{
    color: royalblue;
    font-size: small;
    font-weight: bold;
    
}
.courses-content3{
    border: 10px white;
    border-style: 10px solid;
    background: white;  
    box-shadow:  4px 4px 4px -5px;
    width: 150px;
    text-align: center;
}
.courses-content3 p{
    color: orange;
}
.course-text{
    text-align: center;
    margin-top: 5%;
    
}
.course-text p{
    font-size: 13px;
}
.course-text h2{
    font-size: bold;
}
.people{
    display: flex;
    margin-left: 20%;
}
.people-word{
    margin-top: 4%;
}
.people-word p{
    font-size: 13px;
    margin-top: 6%;   
}
.people-image{
    margin-left: -1% ;
    margin-top: 2%;
}
.pricing-word{
    text-align: center;
    color: white; 
}

.prices{
    background-image: url(../images/unnamed.jpg);
    padding-top: 2%;
       
}
.pricing{
    justify-content: space-between;
    width: 55%;
    display: flex;
    margin-left: 18%;
    box-sizing: content-box;
    height: 200px;
    border:1px solid  rgb(250, 250, 250);
    padding:70px;
    margin-top:6%;
    border-radius: 8px;    
}

.that, .them{
    border: 1px solid  rgb(250, 250, 250);  
    width: 70%; 
    margin-left: 15%;
    border-radius: 4px;
    margin-top: 8%;
    height: 150px;
}

.this{
    border: 2px solid slateblue;
    width: 70%; 
    margin-left: 15%;
    border-radius: 4px;
    margin-top: 24%;
    height: 150px;
}


.pricing-image, .pricing-pixel{
    color: white;
    background: rgba(83, 51, 237, -1);  
    width: 250px;
    text-align: center;
    height: 280px;
    margin-top: -4%;
}
.pricing button{
    height: 40px;
    width: 120px;
    font-weight: bolder;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 10px;
    background-image: linear-gradient(to right, orange , gold);
    margin-top: 9%;
}
.pricing-picture{
    
    border-style: 10px solid;
    background: white;  
    width: 250px;
    text-align: center;
    height: 363px;
    margin-top: 0;
    margin-top: -10%;
    
}
.features{
    background: rgb(250, 250, 250);
    width: 60%;
    margin-left: 23%;
    position: relative;
    margin-top: 4%;
    height: 650px;
  
}
.features button{
    margin-left: 38%;
    height: 40px;
    width: 180px;
    font-weight: bolder;
    color: white;
    border-style: none;
    border-radius: 3%;
    font-size: 10px;
    background-image: linear-gradient(to right, orange , gold);
}
.features-word{
    text-align: center;
    padding-top: 6%;
}

.feature-items{
    display: flex;
    margin-left: 14%;
    
} 
.feature-now{
    margin-left: 7%;
}
.feature-now p , .feature-sent p{
    font-size: 13px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-image: url(../images/unnamed.jpg);
    position: absolute;
    margin-top: 30%;  
    height: 650px; 
}
.footer-contact{
    margin-left: 10%;
    color: white;
    margin-top: 30px;
}

.footer-contact p{
    font-size: small;
    margin: 0px;
}

.Latest{
    color: white;
    margin-top: 60px;
}
.form{
    margin-right: 10%;
}
.form h2{
    color: white;
}
.form span{
    color: orange;
}
.form input{
    height: 30px;
    width: 250px; 
    border:royalblue; 
    background: royalblue;
    text-align: center;
    font-weight: 900;
    border-radius: 3%;
    
}
.form button{
    height: 40px;
    width: 150px;
    font-weight: bolder;
    color: white;
    border-style: none;
    border-radius: 3%;
    font-size: 10px;
    background-image: linear-gradient(to right, orange , gold);
}
.footer-contact span{
    margin: 6px;
    background: royalblue;
    border-radius: 30px;
    padding:10px;
    font-size:10px;
    border:2px white solid ;
    
}
.white{color: white;}
.background{
    margin-top: 24%;
    background-color:rgb(1, 6, 35);
    color: white;
    font-size: 13px;
    position: relative;
    height: 30px;
}

.background p{
    padding-top: 10px;
    margin-left: 9.5%;
}


